:host {
  padding-top: 25px;
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}
