<mat-toolbar color="primary" class="mat-elevation-z6">
  <span><mat-icon>language</mat-icon></span>

  <a mat-button [routerLink]="'/entity'">Entity Extraction</a>
  <a mat-button [routerLink]="'/textsimilarity'">Text Similarity</a>
  <a mat-button [routerLink]="'/languagedetection'">Language detection</a>
  <a mat-button [routerLink]="'/sentiment'">Sentiment analysis</a>
  <a mat-button [routerLink]="'/logs'">Logs</a>

  <div class="spacer"></div>

  <a mat-raised-button color="warn" routerLink="tokenpage">Token</a>

</mat-toolbar>
