<form class="example-form">
  <h1>Text Similarity</h1>
  <h3>Unesite prvi tekst:</h3>
  <mat-form-field appearance="fill">
    <mat-label>Text 1</mat-label>
    <textarea matInput id="textArea1"></textarea>
  </mat-form-field><br>
  Unesite drugi tekst:<br>
  <mat-form-field appearance="fill">
    <mat-label>Text 2</mat-label>
    <textarea matInput id="textArea2"></textarea>
  </mat-form-field>

  <br>
  <button mat-raised-button color="warn" (click)="apiZahtev($event)">Submit</button>
</form>
<br>
<div *ngIf = "stampaj">
  <p><b>Semantic similarity:</b> {{sim.similarity*100}}%</p>
</div>
