.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
:host {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-check {
  margin: 12px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
